{% extends 'registration/base.html' %}
{% block content %}
<div class="card mx-auto my-5 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 50%;">
    <div class="card-header bg-light-subtle">
        <h2 class="text-center text-primary">Change Password</h2>
      </div>
    <div class="card-body">
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <p class="my-2">{{fm.label_tag}}</p>
            {{fm}}
            <small>{{fm.errors}}</small>
        {% endfor %}
        <input class="btn btn-primary my-3" type="submit" value="Submit">
        <a href="{% url 'dashboard' %}" class="btn btn-info">Go to Dashboard</a>
    </form>
    </div>
  </div>
{% endblock content %}